<div class='row'>
  <h2 class='text-center'>{{vm.show.Title}}</h2>
  <br>
  <div class='col-xs-4'>
    <img src="{{vm.show.Poster}}" alt="{{vm.show.Title}}">
  </div>
  <div class='col-xs-8'>
    <p><b>Starring</b></p>
    <p>{{vm.show.Actors}}</p>
    <p><b>Plot</b></p>
    <p>{{vm.show.Plot}}</p>
    <br>
    <h4>Additional Details</h4>
    <p><b>Awards</b></p>
    <p>{{vm.show.Awards}}</p>
    <p><b>Country</b></p>
    <p>{{vm.show.Country}}</p>
    <p><b>Director</b></p>
    <p>{{vm.show.Director}}</p>
    <p><b>Genre</b></p>
    <p>{{vm.show.Genre}}</p>
    <p><b>Language</b></p>
    <p>{{vm.show.Language}}</p>
    <p><b>Metascore</b></p>
    <p>{{vm.show.Metascore}}</p>
    <p><b>Rated</b></p>
    <p>{{vm.show.Rated}}</p>
    <p><b>Released</b></p>
    <p>{{vm.show.Released}}</p>
    <p><b>Runtime</b></p>
    <p>{{vm.show.Runtime}}</p>
    <p><b>Writer</b></p>
    <p>{{vm.show.Writer}}</p>
    <p><b>Year</b></p>
    <p>{{vm.show.Year}}</p>
    <p><b>imdbRating</b></p>
    <p>{{vm.show.imdbRating}}</p>   
  </div>
</div>